@using FootballService.Core.Entities;
@model IEnumerable<Team>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="d-flex justify-content-between mb-3 align-items-center">
    <h2>Список команд</h2>
    <a asp-controller="Team" asp-action="Create" class="btn btn-primary p-2 h-75">+</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Назва</th>
            <th>Країна</th>
            <th>Рік заснування</th>
            <th ></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var team in Model)
        {
                <tr>
                    <td>@team.Name</td>
                    <td>@team.Country</td>
                    <td>@team.YearFounded</td>
                    <td class="text-end">
                        <a class="btn btn-info" asp-controller="Team" asp-action="Details" asp-route-id="@team.Id">Деталі</a> 
                        <a class="btn btn-warning" asp-controller="Team" asp-action="Edit" asp-route-id="@team.Id">Редагувати</a> 
                        <a class="btn btn-danger" asp-controller="Team" asp-action="Delete" asp-route-id="@team.Id">Видалити</a>
                    </td>
                </tr>
        }
    </tbody>
</table>
